html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#message {
    color: red;
}

.myclass {
    color: green;
}

.taskList {
    list-style-type: none;
}